ion-toolbar {
    --border-style: none;
}

ion-header {
    background: #fff;
}

ion-slides {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--ion-color-light);
}

ion-avatar {
    border: 2px solid var(--ion-color-primary);
    padding: 2px;
}