.header {
  width: 100%;
  height: 50px;
  background: $med-blue;
  @include flex-container();
}

.header h1 { @include screenreader() }

.header .left-toolbar {
  flex: 1;
  order: 1;
  z-index: 1;
  .nav.icon-menu {
    display: none;
  }
}

.header .search-box {
  display: none;
  flex: 1;
  order: 2;
  .search-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.header .logo {
    flex: 1;
    order: 3;
    a {
      margin-left: auto;
      margin-right: 20px;
      i {
        color: $white;
        font-size: 30px;
        margin: 10px 0px;
        @include image-flip();
      }
    }
}

.header .right-toolbar {
  display: none;
  margin-right: 20px;
  nav.icon-menu {
    margin-left: auto;
  }
}

.header .icon-menu {
  ul {
    margin: 15px 0px;
  }
  li {
    margin-left: 15px;
  }
  a {
    i {
      font-size: 16px;
      margin-right: 5px;
    }
    span {
      font-size: 14px;
      margin-top: 0.03em;
    }
  }
}
