.main {
  max-width: 895px;
  margin: 30px auto;
  .main-container {
    // display: flex;
    // flex-flow: row;
    @include flex-container();
    .sidebar {
      display: none;
      flex-flow: column wrap;
      flex: 1;
      margin-right: 27px;
    }
    .twitter-feed {
      display: flex;
      flex: 3.5;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
  }
}
