ion-badge {
    top: 7px;
    left: calc(50% + 1px);
    font-size: 9px;
    font-weight: 500;
    border-radius: 10px;
    padding: 2px 2px 2px;
    min-width: 18px;
    min-height: 18px;
    line-height: 14px;
}