$light-blue: #c5e2f8;
$med-blue: #59adeb;
$dark-blue: #3c87bf;
$light-grey: #fafafa;
$med-grey: #f9f9f9;
$med-grey2: #eeeeee;
$med-grey3: #9aaab4;
$med-grey4: #ccd6dd;
$dark-grey: #66757f;
$black: #292f33;
$white: #fff;

$border: 2px solid $med-grey2;
