name: CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache Cargo and Rust Build
        uses: actions/cache@v2
        with:
          path: |
            .cargo/bin/
            .cargo/registry/index/
            .cargo/registry/cache/
            .cargo/git/db/
            target
          key: v1-${{ runner.os }}-rust-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            v1-${{ runner.os }}-rust-

      - name: Set up nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-21.05
          extra_nix_config: |
            substituters = https://cache.nixos.org https://cache.holo.host https://holochain-ci.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= cache.holo.host-1:lNXIXtJgS9Iuw4Cu6X0HINLu9sTfcjEntnrgwMQIMcE= cache.holo.host-2:ZJCkX3AUYZ8soxTLfTb60g+F3MkWD7hkH9y8CgqwhDQ= holochain-ci.cachix.org-1:5IUSkZc0aoRS53rfkvH9Kid40NpyjwCMCzwRTXy+QN8=

      - name: Cache nix with Cachix
        uses: cachix/cachix-action@v10
        with:
          name: holochain-ci

      - name: Inspect nix.conf
        run: cat ~/.config/nix/nix.conf

      - name: Build Happ
        run: nix-shell --pure --run "npm ci && npm run build:happ"

      - name: Test with tryorama
        # run a few times; these tests have failed non-deterministically (see "sleep" in tests)
        run: nix-shell --pure --run "npm test && npm test && npm test"
